<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scenes</key>
	<array>
		<dict>
			<key>backgroundImage</key>
			<string>GreyBackgroundLarge.png</string>
			<key>soundFile</key>
			<string>test.wav</string>
			<key>transliteration</key>
			<string>alif</string>
			<key>letter</key>
			<string>ا</string>
		</dict>
		<dict>
			<key>backgroundImage</key>
			<string>BluishGreenBackgroundLarge.png</string>
			<key>letter</key>
			<string>ب</string>
			<key>transliteration</key>
			<string>be</string>
			<key>soundFile</key>
			<string>test1.wav</string>
		</dict>
	</array>
</dict>
</plist>
