<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scenes</key>
	<array>
		<dict>
			<key>picture</key>
			<string>oneThousand.png</string>
			<key>pictureWord</key>
			<string>Alif</string>
			<key>pictureWordEnglish</key>
			<string>Thousand</string>
			<key>letterOffset</key>
			<integer>-140</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-60</integer>
			<key>transliterationPosOffsetY</key>
			<integer>-50</integer>
			<key>sound</key>
			<string>alif.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>soundFile</key>
			<string>ana-oneThousand.caf</string>
			<key>transliteration</key>
			<string>alif</string>
			<key>letter</key>
			<string>ا</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>door.png</string>
			<key>pictureWord</key>
			<string>Bab</string>
			<key>pictureWordEnglish</key>
			<string>Door</string>
			<key>letterOffset</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-20</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>baa.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ب</string>
			<key>transliteration</key>
			<string>baa</string>
			<key>soundFile</key>
			<string>baab-door.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>berries.png</string>
			<key>pictureWord</key>
			<string>Toot</string>
			<key>pictureWordEnglish</key>
			<string>Berries</string>
			<key>letterOffset</key>
			<integer>-70</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-30</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>tuut-berries.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ت</string>
			<key>transliteration</key>
			<string>taa</string>
			<key>soundFile</key>
			<string>taa.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>fox.png</string>
			<key>pictureWord</key>
			<string>Thalab</string>
			<key>pictureWordEnglish</key>
			<string>Fox</string>
			<key>letterOffset</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-40</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>thaa.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ث</string>
			<key>transliteration</key>
			<string>thaa</string>
			<key>soundFile</key>
			<string>thulut-fox.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>jamal.png</string>
			<key>pictureWord</key>
			<string>Jamal</string>
			<key>pictureWordEnglish</key>
			<string>Jamal</string>
			<key>letterOffset</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-60</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>jiim.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ج</string>
			<key>transliteration</key>
			<string>jiim</string>
			<key>soundFile</key>
			<string>jamal.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>pigeon.png</string>
			<key>pictureWord</key>
			<string>Hammam</string>
			<key>pictureWordEnglish</key>
			<string>Pigeon</string>
			<key>letterOffset</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-20</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>haaa.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ح</string>
			<key>transliteration</key>
			<string>haa</string>
			<key>soundFile</key>
			<string>hamaam-pigeon.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>autumnTree.png</string>
			<key>pictureWord</key>
			<string>Khareef</string>
			<key>pictureWordEnglish</key>
			<string>Fall/Autumn</string>
			<key>letterOffset</key>
			<integer>-90</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-20</integer>
			<key>transliterationPosOffsetY</key>
			<integer>40</integer>
			<key>sound</key>
			<string>khaa.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>خ</string>
			<key>transliteration</key>
			<string>kha</string>
			<key>soundFile</key>
			<string>khareef-automnTree.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>pucket.png</string>
			<key>pictureWord</key>
			<string>Dalu</string>
			<key>pictureWordEnglish</key>
			<string>Puck</string>
			<key>letterOffset</key>
			<integer>-80</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-40</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>daal.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>د</string>
			<key>transliteration</key>
			<string>daal</string>
			<key>soundFile</key>
			<string>Dalu-pucket.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>wolf.png</string>
			<key>pictureWord</key>
			<string>Thieb</string>
			<key>pictureWordEnglish</key>
			<string>Wolf</string>
			<key>letterOffset</key>
			<integer>-80</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-80</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>dzaal.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ذ</string>
			<key>transliteration</key>
			<string>thaal</string>
			<key>soundFile</key>
			<string>thieb-wolf.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>thunder.png</string>
			<key>pictureWord</key>
			<string>Raeb</string>
			<key>pictureWordEnglish</key>
			<string>Thunder</string>
			<key>letterOffset</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-60</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>raa.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ر</string>
			<key>transliteration</key>
			<string>raa</string>
			<key>soundFile</key>
			<string>raeb-thunder.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>tooth.png</string>
			<key>pictureWord</key>
			<string>Sin</string>
			<key>pictureWordEnglish</key>
			<string>Tooth</string>
			<key>letterOffset</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-70</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>siin.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>س</string>
			<key>transliteration</key>
			<string>siin</string>
			<key>soundFile</key>
			<string>sin-tooth.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>giraffe.png</string>
			<key>pictureWord</key>
			<string>Zarafa</string>
			<key>pictureWordEnglish</key>
			<string>Giraffe</string>
			<key>letterOffset</key>
			<integer>-70</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-60</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>za.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ز</string>
			<key>transliteration</key>
			<string>zaay</string>
			<key>soundFile</key>
			<string>zarafa-giraffe.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>shaban.png</string>
			<key>pictureWord</key>
			<string>Shaban</string>
			<key>pictureWordEnglish</key>
			<string>Calendar</string>
			<key>letterOffset</key>
			<integer>-70</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-80</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>shiin.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ش</string>
			<key>transliteration</key>
			<string>shiin</string>
			<key>soundFile</key>
			<string>shaban-calendar.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>girlHoldingStick.png</string>
			<key>pictureWord</key>
			<string>Sab</string>
			<key>pictureWordEnglish</key>
			<string>Hard</string>
			<key>letterOffset</key>
			<integer>-80</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-45</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>saad.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ص</string>
			<key>transliteration</key>
			<string>saad</string>
			<key>soundFile</key>
			<string>sab-hard.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>frogy.png</string>
			<key>pictureWord</key>
			<string>Dufdah</string>
			<key>pictureWordEnglish</key>
			<string>Frog</string>
			<key>letterOffset</key>
			<integer>-60</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>daad.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ض</string>
			<key>transliteration</key>
			<string>daad</string>
			<key>soundFile</key>
			<string>duvdah-frogy.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>BoyTaha.png</string>
			<key>pictureWord</key>
			<string>Taha</string>
			<key>pictureWordEnglish</key>
			<string>Taha</string>
			<key>letterOffset</key>
			<integer>-70</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-20</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>taa.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ط</string>
			<key>transliteration</key>
			<string>taa</string>
			<key>soundFile</key>
			<string>taha-boy.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>girlShadow.png</string>
			<key>pictureWord</key>
			<string>Thill</string>
			<key>pictureWordEnglish</key>
			<string>Shadow</string>
			<key>letterOffset</key>
			<integer>-80</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-40</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>thaa.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ظ</string>
			<key>transliteration</key>
			<string>thaa</string>
			<key>soundFile</key>
			<string>thill-shadow.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>eyes.png</string>
			<key>pictureWord</key>
			<string>Ein</string>
			<key>pictureWordEnglish</key>
			<string>Eyes</string>
			<key>letterOffset</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-20</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>ain.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ع</string>
			<key>transliteration</key>
			<string>ayn</string>
			<key>soundFile</key>
			<string>ein-eyes.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>clouds.png</string>
			<key>pictureWord</key>
			<string>Ghiom</string>
			<key>pictureWordEnglish</key>
			<string>Clouds</string>
			<key>letterOffset</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-65</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>giin.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>غ</string>
			<key>transliteration</key>
			<string>ghiin</string>
			<key>soundFile</key>
			<string>giom-clouds.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>film.png</string>
			<key>pictureWord</key>
			<string>film</string>
			<key>pictureWordEnglish</key>
			<string>Film</string>
			<key>letterOffset</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-30</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>faahOrTha.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ف</string>
			<key>transliteration</key>
			<string>faa</string>
			<key>soundFile</key>
			<string>film.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>judge.png</string>
			<key>pictureWord</key>
			<string>Qadi</string>
			<key>pictureWordEnglish</key>
			<string>Judge</string>
			<key>letterOffset</key>
			<integer>-85</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-45</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>qaaf.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ق</string>
			<key>transliteration</key>
			<string>qaaf</string>
			<key>soundFile</key>
			<string>qadi-judge.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>cave.png</string>
			<key>pictureWord</key>
			<string>Kahf</string>
			<key>pictureWordEnglish</key>
			<string>Cave</string>
			<key>letterOffset</key>
			<integer>-90</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>kaaf.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ك</string>
			<key>transliteration</key>
			<string>kaaf</string>
			<key>soundFile</key>
			<string>ka-cave.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>lemon.png</string>
			<key>pictureWord</key>
			<string>Laimon</string>
			<key>pictureWordEnglish</key>
			<string>Lemon</string>
			<key>letterOffset</key>
			<integer>-80</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>laam.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ل</string>
			<key>transliteration</key>
			<string>laam</string>
			<key>soundFile</key>
			<string>laimon-lemon.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>miriam.png</string>
			<key>pictureWord</key>
			<string>Miriam</string>
			<key>pictureWordEnglish</key>
			<string>Miriam</string>
			<key>letterOffset</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>miim.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>م</string>
			<key>transliteration</key>
			<string>miim</string>
			<key>soundFile</key>
			<string>miriam.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>river.png</string>
			<key>pictureWord</key>
			<string>Nahir</string>
			<key>pictureWordEnglish</key>
			<string>River</string>
			<key>letterOffset</key>
			<integer>-60</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-45</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>nuun.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ن</string>
			<key>transliteration</key>
			<string>nuun</string>
			<key>soundFile</key>
			<string>nahir-river.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>moon.png</string>
			<key>pictureWord</key>
			<string>Hilal</string>
			<key>pictureWordEnglish</key>
			<string>Crescent</string>
			<key>letterOffset</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetX</key>
			<integer>0</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>haa.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ه</string>
			<key>transliteration</key>
			<string>ha</string>
			<key>soundFile</key>
			<string>hilal-moon.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>baby.png</string>
			<key>pictureWord</key>
			<string>Walad</string>
			<key>pictureWordEnglish</key>
			<string>Boy</string>
			<key>letterOffset</key>
			<integer>-60</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-45</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>vow.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>و</string>
			<key>transliteration</key>
			<string>waaw</string>
			<key>soundFile</key>
			<string>walad-baby.caf</string>
		</dict>
		<dict>
			<key>picture</key>
			<string>princess.png</string>
			<key>pictureWord</key>
			<string>Yasmeen</string>
			<key>pictureWordEnglish</key>
			<string>Jasmin</string>
			<key>letterOffset</key>
			<integer>-50</integer>
			<key>transliterationPosOffsetX</key>
			<integer>-30</integer>
			<key>transliterationPosOffsetY</key>
			<integer>20</integer>
			<key>sound</key>
			<string>yaa.caf</string>
			<key>backgroundImage</key>
			<string>cork.jpg</string>
			<key>letter</key>
			<string>ي</string>
			<key>transliteration</key>
			<string>yaa</string>
			<key>soundFile</key>
			<string>yasmeen.caf</string>
		</dict>
	</array>
</dict>
</plist>
